body{
    background-image:url(https://s3.envato.com/files/243754334/primag.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:70vh;
    overflow:auto;
    
}
.container{
   font-family:Roboto,sans-serif;
     background-image:url(https://image.freepik.com/free-vector/dark-blue-blurred-background_1034-589.jpg) ;
    padding-top: 60px;
    border-style: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    margin-top: 10px;
    box-shadow: 2px 5px 5px 0px #eee;
    max-width: 350px;
    padding-top: 10px;
    height: 450px;
    margin-top: 10px;
}
.email{
    margin: auto;
    font-family: sans-serif;
    color: white;

}
.pass{
    margin: auto;
    font-family: sans-serif;
    color: white;
   
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: blue !important;
}

.heading{
    text-decoration:bold;
    text-align : center;
    font-size:30px;
    color:#F96;
    padding-top:10px;
}

.sbutton{
    color: white;
    font-size: 20px;
    border: 1px solid white;
    background-color: #080808;
    width: 32%;
    margin-left: 41%;
    margin-top: 16px;
    box-shadow: 0px 2px 2px 0px white;
        
  }
  .login_btn {
    width: 50%;
    border-radius: 8px;
    background: #094e8f !important;
    color: white !important;
    padding: 8px;
}
     #checkbox1{
         padding-top: 1px;
     }